body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Kalnia', serif;
    background-color: rgb(0, 255, 42);
}

#app {
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 50px;
}

ul {
    list-style: none;
}

li div {
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

.checked{
    text-decoration: line-through;
    border: none;
}

.unchecked {
    border: none;
}

.add-task {
    display: flex;
    justify-content: center;
}